{% extends "notes/header.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <div class="container-fluid">
        <h3>Create Note:</h3>
        <form action="/" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary">Create Note Folder!</button>
        </form>
    </div>  
</body>
</html>

{% endblock %}