{% extends "notes/header.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <div class="container-fluid">
        <h3>List of Notes:</h3>
            {% for note in list_notes %}
            <div class="card" style="background-color: #e3f2fd; width: 18rem;">
                <div class="card-header">
                    <h2 class="card-title">
                        <a href="{% url 'note_content' note.id %}">{{ note.subject_text }}</a>
                    </h2>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>  
</body>
</html>

{% endblock %}