{% extends "notes/header.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <div class="container-fluid">
        <h2 >{{ note.subject_text }}</h2>
        <p class="card-text">{{ note.note_field }} </p>
        <p>Posted on: {{ note.added_date }} </p>
        <a class="btn btn-primary" href="{% url 'update_note' note.id %}">Edit</a>
        <form action="{% url 'note_content' note.id %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" name="delete_note" class="btn btn-danger">Delete</button>
        </form>
        <br>
        <a class="btn btn-success" href="{% url 'create_subNote' note.id %}">Create note</a>
    </div>
</body>
</html>

{% endblock %}