{% extends "notes/header.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <div class="container-fluid">
        <h3>List of Notes:</h3>
        {% for note in list_notes %}
        <!-- <div class="container-fluid"> -->
            <div class="card" style="background-color: #e3f2fd;">
                <div class="card-header">
                    <h2 class="card-title">{{ note.subject_text }}</h2>
                </div>
                <div class="card-body">
                <p class="card-text">{{ note.note_field }} </p>
                <div class="card-footer">Posted on: {{ note.added_date }}
                </div>
                </div>
            </div>
            <br>
        <!-- </div> -->
        {% endfor %}
    </div>  
</body>
</html>

{% endblock %}